body {
    background-color: black;
    color: aliceblue;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
}

.amount, .amount:hover, .amount:active, .gamemode_button, .gamemode_button:hover, .gamemode_button:active, #take_barrel, #take_barrel:hover, #take_barrel:active {    
    border: 1px solid aliceblue;
    text-decoration: none;
    color: aliceblue;
    border-bottom: 4px solid rgb(235, 229, 229);
    border-right: 4px solid rgb(235, 229, 229);
}

.amount:hover, .gamemode_button:hover, #take_barrel:hover {
    background-color: rgb(20, 20, 20);
    cursor: pointer;
}
.amount:active, .gamemode_button:active, #take_barrel:active {
    border: 1px solid aliceblue;
    border-top: 4px solid rgb(235, 229, 229);
    border-left: 4px solid rgb(235, 229, 229);
}   