/* body {
    display: flex;
    justify-content: center;
} */
#main_container {
    width: 95vw;
    height: 90vh;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
td {
    font-size: 2rem;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}
table {
    margin-left: 10px;
}
table, td {
    border: 3px dashed aliceblue;
}

#barrel {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    width: auto;
    height: auto;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#barrel img {
    width: 50%;
    height: 50%;
}
#take_barrel {
    margin-top: 2rem;
    font-size: 1.8rem;
    padding: 5px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}


.card:nth-of-type(2) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.card:nth-of-type(3) {
    grid-column: 3 / 4;
}
.card:nth-of-type(4) {
    grid-row: 2 / 3;
}
.card:nth-of-type(5) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.card:nth-of-type(6) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}


