body {
    background-color: black;
    color: aliceblue;
}
.main_container {
    position: absolute;
    top: 40vh;
    left: 39vw;
    border: 3px solid aliceblue;
    border-radius: 6%/8%;
    width: 20vw;
    height: 20vh;
    padding: 1.5rem;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 15px aliceblue;
}

#title_container, #testing {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.gamemode_button, .gamemode_button:hover, .gamemode_button:focus {
    width: 10vw;
    height: 2vh;
    border: 1px solid aliceblue;
    border-radius: 3%/5%;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: aliceblue;
    border-bottom: 4px solid rgb(235, 229, 229);
    border-right: 4px solid rgb(235, 229, 229);
}

.gamemode_button:hover {
    background-color: rgb(20, 20, 20);
}
.gamemode_button:focus {
    border: 1px solid aliceblue;
    border-top: 4px solid rgb(235, 229, 229);
    border-left: 4px solid rgb(235, 229, 229);
}
